<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cheap, Used, Second hand cars for sale online by dealers, owner in USA, Top Line Car.</title>
    <meta name="keywords" content="Cheap Cars for Sale, Second Hand Cars for Sale, Cars for Sale by Owner, Cheap Used Cars by Owner, Used car for Sale by Owner, Latest Added Used Cars, Featured Cheap Used Cars for Sale, Cheap Used Cars, Used Car Dealers, used car for sale, used cars sale, cheap used cars for sale, used cars for sale, used cars for sale by owner, used cheap cars for sale, cheap used car for sale, cars for sale online, cheap cars for sale by owner, USA" />
    <meta name="description" content="Toplinecar.com is a leading used cars dealers, offers cheap, second hand cars for sale online in USA. We are dealing with used as well as latest added cars for sale by owner." />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="q2IWeYOoNgLzebZCGAX3SeiIj8Cib_ileVJhbvOxx8I" />
    <meta name ="Classification" content ="Automotive" />
    <meta name ="Author" content ="toplinecar.com" />
    <meta name="rating" content="general" />
    <meta name="revisit-after" content="1 days" />
    <meta name ="distribution" content ="Global" />
    <meta name="subject" content="new, used cars for sale" />
    <meta name="country" content="USA" />
    <script type="text/javascript" src="/includes/js/AC_RunActiveContent.js"></script>
    <script type="text/javascript" src="/includes/js/roll.js"></script>
    <script type="text/javascript" src="/includes/js/window.js"></script>
    <script type="text/javascript" src="/includes/js/jquery-1-6-1.js"></script>
    <link href="/includes/css/cars.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <table width="999" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
        <script type="text/javascript">
          function get_quick_model() {
            var make = $('#quick_make').val();
            if (make == "" || make == null) {
              $('#quick_model').html('<option value="">Select Model</option>');
            } else {
              $.post(location.href, {
                q_make : make,
                jsubmit : 'get_quick_model'
              }, function(data) {
                $('#quick_model').html(data);
              });
            }
          }
        </script>
        <table width="999" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/assets/visitor/top/top_img.jpg" width="999" height="9" /></td>
          </tr>
          <tr>
            <td height="81">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="320" align="left"><a href="/"><img src="/assets/visitor/top/top-line-car-logo.jpg" alt="Toplinecar" width="320" height="81" border="0" /></a></td><td valign="bottom">
                <table width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td><td width="100"><!-- Place this tag where you want the +1 button to render --><g:plusone size="medium" href="http://www.toplinecar.com"></g:plusone><!-- Place this render call where appropriate -->
                    <script type="text/javascript">
                      (function() {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                      })();
                    </script></td><td width="100"><div id="fb-root"></div>
                    <td width="120">
<% if visitor_signed_in? %>
                      Hello: <%= link_to current_visitor.email, "#", class: "twitter-follow-button" %>
<% end %>
                    <script>
                      ! function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                          js = d.createElement(s);
                          js.id = id;
                          js.src = "//platform.twitter.com/widgets.js";
                          fjs.parentNode.insertBefore(js, fjs);
                        }
                      }(document, "script", "twitter-wjs");
                    </script></td>
                  </tr>
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td colspan="4">
                    <table width="640" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="28" align="center"><a href="/" class="white_bold" title="Cheap, used cars for sale">Home</a></td>
                        <td width="1" align="center" bgcolor="#878787"></td>
                        <td align="center"><%= link_to "Create New Car", new_car_path, class: "white_bold" %></td>
                        <td width="1" align="center" bgcolor="#878787"></td>
                        <td align="center"><%= link_to "Browse Cars", cars_path, class: "white_bold" %></td>
                        <td width="1" align="center" bgcolor="#878787"></td>
                        <td align="center"><a href="/details-search" class="white_bold" title="Search Cars">Search</a></td>
                        <td width="1" align="center" bgcolor="#878787"></td>
                        <td align="center"><a href="/find-dealers" class="white_bold" title="Find Dealers">Find Car Dealer</a></td>
                        <td width="1" align="center" bgcolor="#878787"></td>
                        <td align="center">
                        <% if visitor_signed_in? %>
                        <%= button_to "Sign Out", destroy_visitor_session_path, method: :delete, class: "white_bold" %>
                        <% else %>
                        <%= link_to "Sign In", new_visitor_session_path, class: "white_bold" %>
                        <% end %>
                        </td>
                        <td width="1" align="center" bgcolor="#878787"></td>
<% if visitor_signed_in? %>
                        <td align="center"><%= link_to "My Cars", cars_path(target: :mycars), class: "white_bold" %></td> 
<% end %>
                        <td width="1" align="center" bgcolor="#878787"></td>
                        <td align="center"><%= link_to "Latest Cars", cars_path(target: :newcars), class: "white_bold" %></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>
            <table width="100%" cellspacing="0" cellpadding="0" height="45" background="/assets/visitor/top/quicksearch_bg.jpg">
              <tr>
                <td>
                <form name="myform" method="post" action="/quick-search-result" style="margin:0px; padding:0px;">
                  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="155"><img src="/assets/visitor/top/quick_search_img.jpg" width="149" height="45" alt="" /></td>
                      <td width="90" align="center" class="text1">Select Make : </td>
                      <td width="200">
                      <select name="quick_make" id="quick_make"  onChange="get_quick_model();">
                        <option value="Daimler" >Daimler</option>
                      </select></td>
                      <td width="90" class="text1">Select Model : </td>
                      <td width="200">
                      <select name="quick_model" id="quick_model" class="textfield">
                        <option value="">Select Model</option>
                      </select></td>
                      <td align="center">
                      <input name="Submit" type="submit" class="button" value="Find Car" />
                      </td>
                    </tr>
                  </table>
                </form></td>
                <td>&nbsp;</td>
                <td><span style="padding:0 5px;"><a href="https://plus.google.com/106638211141889946439/posts"><img src="/assets/visitor/top/google+1.png" width="24" height="24" border="0"></a></span><span style="padding:0 5px;"><a href="http://www.facebook.com/toplinecar"><img src="/assets/visitor/top/facebook.png" width="24" height="24" border="0"></a></span><span style="padding:0 10px 0 5px;"><a href="https://twitter.com/#!/toplinecar"><img src="/assets/visitor/top/twitter.png" width="24" height="24" border="0"></a></span></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="540"><img src="/assets/visitor/top/used-cars-for-sale-left.jpg" width="540" height="228" alt="Cheap Used, New Cars for Sale, Honda Cars, Nissan, Volvo, Bmw Cars for Sale, Online Car Deals" /></td>
                <td width="459" valign="bottom" background="/assets/visitor/top/header_right.jpg">
                <table width="95%" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="right"><span class="text1"><h3><strong><%= Car.all.count %></strong> Cars Available For Sale By <strong><%= Car.sales.count %></strong> Car Dealers </h3></span></td>
                  </tr>
                  <tr>
                    <td align="right" class="usedcars">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
<% if params[:controller] == "visitor/top" %>
          <tr>
            <td height="10"></td>
          </tr>

          <tr>
            <td height="1" bgcolor="#999999"></td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
        </table></td>
      </tr>
<% end %>
      