<%= stylesheet_link_tag "/assets/visitor/cars" %>
<%= render "/visitor/top/components/header" %>
<tr>
  <td height="10"></td>
</tr>
<%= render "/visitor/top/components/manufacturer" %>
<tr>
  <td>&nbsp;</td>
</tr>
<%= render "/visitor/top/components/body_car" %>
<%= render "/visitor/top/components/main_right" %>
<%= render "/visitor/top/components/post" %>
<%= render "/visitor/top/components/new_cars" %>
<tr>
  <td>&nbsp;</td>
</tr>
<%= render "/visitor/top/components/feature_cars" %>
<tr>
  <td>&nbsp;</td>
</tr>
<%= render "/visitor/top/components/footer" %>
