<section id="statuses-index" class="row-fluid">
  <h1 class="page-title"><%= t(".title") %></h1>
  <div class="actions">
    <%= link_to "new", new_admin_m_status_path %>
  </div>
  <%= paginate @m_statuses %>
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= M::Status.h :status %></th>
      <th><%= M::Status.h :created_at %></th>
      <th></th>
      <th></th>
    </tr>
<% @m_statuses.each do |status| %>
    <tr>
      <td><%= link_to status.status, admin_m_status_path(status) %></td>
      <td><%= status.created_at %></td>
      <td><%= link_to t(".edit"), edit_admin_m_status_path(status) %></td>
      <td><%= link_to t(".destroy"), admin_m_status_path(status), method: :delete, data: {confirm: "are you sure"} %></td>
    </tr>
<% end %>
  </table>
  <%= paginate @m_statuses %>
</section>
