<%= stylesheet_link_tag "application", :media => "all" %> <td width="732" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
    <table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="35" background="/assets/visitor/top/quicksearch_bg.jpg" class="text1">&nbsp;&nbsp;Show a car</td>
      </tr>
      <tr>
        <td align="center"  class="pad5" valign="top" style="border:1PX solid #343232;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">
            <table width="100%"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="top" class="pad5 bg3 imageborder">
                <table width="99%" border="0" align="center" cellpadding="1" cellspacing="1" class="runing_text">
                  <tr>
                    <td width="166" align="center" valign="top"> <%= link_to image_tag(@car.image1, width: "125", height: "90", border: "0", class: "box_img"), "#" %> </td>
                    <td valign="top" class="pad5"><%= link_to @car.name, "#", class: "heading3" %>
                    <br />
                    <span class="text_bold"><%= @car.description %>
                      <br/>
                    </span></td>
                    <td width="125" valign="top" class="pad5">
                    <p>
                      &nbsp;&nbsp; <span class="readmore">PRICE:
                        <% if @car.visibility == true %>
                        $ <%= @car.amount %>
                        <% else %>
                        <%= @car.amount %>TriệuVNĐ
                        <% end %> </span>
                      <br/>
                      <% if visitor_signed_in? %>
                      <div id="like">
                        <%= render partial: "likes/like", locals: {car: @car} %>
                      </div>
                      <% end %>
                    </p>
                    <br />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" align="center" valign="top">
                    <hr size="1">
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td colspan="2"> <%= form_for @comment, :remote => true do |f| %>
                          <div class="field">
                            <%= f.text_field :comments %>
                            <%= f.hidden_field :car_id, :value => @car.id %>
                            <%= f.hidden_field :visitor_id, :value => current_visitor.id %>
                          </div><%= f.submit "Comment", class: "btn" %>
                          <% end %> </td>
                          <section>
                            <% @car.comments.each do |comment| %>
                            <div id="comment-<%= comment.id %>">
                            <%= render partial: 'comments/comment', locals: {comment: comment} %>
                            <% if comment.visitor.check_visitor(current_visitor) %>
                            <%= link_to content_tag(:i, "", class: "icon-trash icons"), comment, method: :delete,
                            data: { confirm: "Are you sure?" },
                            title: "Delete", remote: true %>
                            <% end %>
                            </div>
                            <% end %>
                          </section>
                        </tr>
                        <tr>
                          <td colspan="2"><h2 style="color: blue;">Thông số kỹ thuật</h3></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :name %></td>
                          <td><%= @car.name %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :title %></td>
                          <td><%= @car.title %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :m_manufacturer_id %></td>
                          <td><%= @car.m_manufacturer.name %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :m_life_car_id %></td>
                          <td><%= @car.m_life_car.name %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :rank %></td>
                          <td><%= @car.rank %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :start_year %></td>
                          <td><%= @car.start_year %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :m_origin_id %></td>
                          <td><%= @car.m_origin.name %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :m_status_id %></td>
                          <td><%= @car.m_status.status %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :km_use %></td>
                          <td><%= @car.km_use %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :driven_id %></td>
                          <td><%= @car.driven.driven_type %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :amount %></td>
                          <td><%= @car.amount %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :visibility %></td>
                          <td><%= @car.visibility %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :exterior_id %></td>
                          <td><%= @car.exterior.color %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :interior_id %></td>
                          <td><%= @car.interior.color %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :number_door %></td>
                          <td><%= @car.number_door %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :number_seat %></td>
                          <td><%= @car.number_seat %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :gearbox_id %></td>
                          <td><%= @car.gearbox.gearbox_type %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :instruction_boot_id %></td>
                          <td><%= @car.instruction_boot.name %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :fuel %></td>
                          <td><%= @car.fuel %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :system_fuel %></td>
                          <td><%= @car.system_fuel %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :consumption_fuel %></td>
                          <td><%= @car.consumption_fuel %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :description %></td>
                          <td><%= @car.description %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :airbags_for_driver %></td>
                          <td><%= @car.airbags_for_driver %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :airbags_for_fron_passengers %></td>
                          <td><%= @car.airbags_for_fron_passengers %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :airbags_for_rear_passengers %></td>
                          <td><%= @car.airbags_for_rear_passengers %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :two_row_side_airbags %></td>
                          <td><%= @car.two_row_side_airbags %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :airbag_suspension_two_seats_and_after %></td>
                          <td><%= @car.airbag_suspension_two_seats_and_after %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :antilock_brakes %></td>
                          <td><%= @car.antilock_brakes %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :electronic_brake_distribution %></td>
                          <td><%= @car.electronic_brake_distribution %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :emergency_brake_assist %></td>
                          <td><%= @car.emergency_brake_assist %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :automatic_electronic_balance %></td>
                          <td><%= @car.automatic_electronic_balance %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :cruise_control %></td>
                          <td><%= @car.cruise_control %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :back_support_alerts %></td>
                          <td><%= @car.back_support_alerts %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :safety_latches %></td>
                          <td><%= @car.safety_latches %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :automatic_door_lock %></td>
                          <td><%= @car.automatic_door_lock %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :power_door_lock_remote_control %></td>
                          <td><%= @car.power_door_lock_remote_control %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :engine_immobilizer %></td>
                          <td><%= @car.engine_immobilizer %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :burglar_alarm_system_peripheral %></td>
                          <td><%= @car.burglar_alarm_system_peripheral %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :fog_lights %></td>
                          <td><%= @car.fog_lights %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :warning_lights_seatbelt %></td>
                          <td><%= @car.warning_lights_seatbelt %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :brake_3rd_light_mounted_high_side %></td>
                          <td><%= @car.brake_3rd_light_mounted_high_side %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :positioning_equipment %></td>
                          <td><%= @car.positioning_equipment %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :roof_window %></td>
                          <td><%= @car.roof_window %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :m_manufacturer_id %></td>
                          <td><%= @car.m_manufacturer.name %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :burglar_alarm_system_peripheral %></td>
                          <td><%= @car.burglar_alarm_system_peripheral %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :glass_electric_adjustment %></td>
                          <td><%= @car.glass_electric_adjustment %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :power_steering %></td>
                          <td><%= @car.power_steering %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :seat_material %></td>
                          <td><%= @car.seat_material %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :air_conditioner_ago %></td>
                          <td><%= @car.air_conditioner_ago %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :after_conditioning %></td>
                          <td><%= @car.after_conditioning %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :supports_auto %></td>
                          <td><%= @car.supports_auto %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :tumble_glass_after %></td>
                          <td><%= @car.tumble_glass_after %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :fan_behind_glass %></td>
                          <td><%= @car.fan_behind_glass %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :stained_glass %></td>
                          <td><%= @car.stained_glass %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :lcd_screen %></td>
                          <td><%= @car.lcd_screen %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :device_audio_video %></td>
                          <td><%= @car.device_audio_video %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :device_other %></td>
                          <td><%= @car.device_other %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :width_wide_height %></td>
                          <td><%= @car.width_wide_height %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :wheelbase %></td>
                          <td><%= @car.wheelbase %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :tread_front_rear %></td>
                          <td><%= @car.tread_front_rear %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :weight %></td>
                          <td><%= @car.weight %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :fuel_tank_capacity %></td>
                          <td><%= @car.fuel_tank_capacity %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :engine %></td>
                          <td><%= @car.engine %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :engine_type %></td>
                          <td><%= @car.engine_type %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :cylinder_capacity %></td>
                          <td><%= @car.cylinder_capacity %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :brake %></td>
                          <td><%= @car.brake %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :reducing_care %></td>
                          <td><%= @car.reducing_care %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :tires %></td>
                          <td><%= @car.tires %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :rim_wheels %></td>
                          <td><%= @car.rim_wheels %></td>
                        </tr>
                        <tr>
                          <td><%= Car.h :other_specifications %></td>
                          <td><%= @car.other_specifications %></td>
                        </tr>
                        <% (1..6).each do |i| -%>
                        <tr>
                          <td>写真<%= i %></td>
                          <td><%= image_tag @car.send("image#{i}"), width: 180 if @car.send("image#{i}").present? %></td>
                        </tr>
                        <% end -%>
                        <tr>
                          <td><%= Car.h :sale_price %></td>
                          <td><%= @car.sale_price %></td>
                        </tr>

                      </tbody>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="center" valign="top" class="text_red pad5"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" class="pad5">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table></td>

