<%= form_for [:admin, @m_prefecture], html: {class: "form-horizontal"} do |f| %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t ".requirement" %></th>
        <th><%= t ".field" %></th>
        <th><%= t ".value" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= requirement_label @m_prefecture, :name %></td>
        <td><%= f.label :name %></td>
        <td>
          <%= f.text_field :name, class: "input-xlarge", required: true %>
          <span class="validation_error_message"><%= f.full_error_messages_for("name").first %></span>
        </td>
      </tr>
      <tr>
        <td><%= requirement_label @m_prefecture, :roman_name %></td>
        <td><%= f.label :roman_name %></td>
        <td>
          <%= f.text_field :roman_name, class: "input-xlarge", required: true %>
          <span class="validation_error_message"><%= f.full_error_messages_for("roman_name").first %></span>
        </td>
      </tr>
      <tr>
        <td><%= requirement_label @m_prefecture, :sort %></td>
        <td><%= f.label :sort %></td>
        <td>
          <%= f.number_field :sort, class: "input-xlarge" %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= f.submit class: %w(btn btn-primary) %>
  </div>
<% end %>
