<%= form_for [:admin, @post_buy_car], html: {class: "form-horizontal"} do |f| %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t ".requirement" %></th>
        <th><%= t ".field" %></th>
        <th><%= t ".value" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= requirement_label @post_buy_car, :m_amount_id %></td>
        <td><%= f.label :m_amount_id %></td>
        <td>
          <%= f.collection_select :m_amount_id, M::Amount.all, :id, :amount, prompt: true,  required: true %>
          <span class="validation_error_message"><%= f.full_error_messages_for("m_amount_id").first %></span>
        </td>
      </tr>
      <tr>
        <td><%= requirement_label @post_buy_car, :title %></td>
        <td><%= f.label :title %></td>
        <td>
          <%= f.text_field :title, class: "input-xlarge", required: true %>
          <span class="validation_error_message"><%= f.full_error_messages_for("title").first %></span>
        </td>
      </tr>
      <tr>
        <td><%= requirement_label @post_buy_car, :content %></td>
        <td><%= f.label :content %></td>
        <td>
          <%= f.text_area :content, class: "input-xlarge" %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= f.submit class: %w(btn btn-primary) %>
  </div>
<% end %>
