<section id="exteriors-show">
  <h1 class="page-title"><%= t ".title", color: @exterior.color %></h1>
  <div class="actions">
    <%= link_to t(".edit"), edit_admin_exterior_path(@exterior), class: :btn %>
    <%= link_to t(".back"), admin_exteriors_path, class: :btn %>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t ".requirement" %></th>
        <th><%= t ".field" %></th>
        <th><%= t ".value" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= requirement_label @exterior, :color %></td>
        <td><%= Exterior.h :color %></td>
        <td><%= @exterior.color %></td>
      </tr>
    </tbody>
  </table>
</section>
