<%= stylesheet_link_tag "/assets/visitor/cars" %>
<%= render "/visitor/top/components/header" %>
<tr>
  <td height="10"></td>
</tr>

<tr>
  <td height="24" class="text_bold">
  <div style="margin:10px 0 5px 10px;">
    <a href="/" class="text_bold">Home</a><span class="price">></span>

    <span class="text_bold" style="font-weight:normal; text-decoration:none;"> <a href="/used-cheap-convertible-cars-sale" class="text_bold">Used Cheap Convertible Cars Sale</a></span>
    <span class="price">></span>
    <span class="text_bold">Chevrolet</span>

  </div></td>
</tr>
<tr>
  <td height="1" bgcolor="#999999"></td>
</tr>
<tr>
  <td height="5"></td>
</tr></table></td></tr>
<tr>
  <td>&nbsp;</td>
</tr>

<tr>
  <td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <%= yield %>
      <%= render "/visitor/m_manufacturers/components/main_right" %>
    </tr>
  </table></td>
</tr>
<%= render "/visitor/top/components/footer" %>